@{
    ViewBag.Title = "Home";
}

<div class="content container">
    <div class="title">
        <h4 class="d-flex justify-content-center text-primary">Lorem</h4>
    </div>
    <div class="row">
        <div class="col">
            <div class="row contentTitle">
                Lorem Sit
            </div>
            <div class="col d-flex justify-content-around contentText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis sit voluptatum veniam provident est repellendus quis quo, itaque, ex ipsam amet doloremque?</div>
        </div>
        <div class="col">
            <div class="row contentTitle">
                Lorem Sit
            </div>
            <div class="col d-flex justify-content-around contentText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis sit voluptatum veniam provident est repellendus quis quo, itaque, ex ipsam amet doloremque?</div>
        </div>
        <div class="col">
            <div class="row contentTitle">
                Lorem Sit
            </div>
            <div class="col d-flex justify-content-around contentText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis sit voluptatum veniam provident est repellendus quis quo, itaque, ex ipsam amet doloremque?</div>
        </div>
    </div>
</div>
  
<div class="container gallary">
    <h4 class="text-primary d-flex justify-content-around">Our gallary</h4>
    <div class="row">
        <p class="d-flex justify-content-around">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut porro, asperiores nesciunt accusantium velit optio, quidem ipsam sequi ab cumque! Illo suscipit architecto repudiandae quidem itaque, voluptatum voluptas sunt consectetur!
        </p>
        <div class="offset-lg-5 col-2"> <button type="button" class="btn btn-info">Take a look</button></div>

    </div>

    <div class="row gallayBlock ">
        <div class=" col d-flex justify-content-around scrollflow -pop -opacity">
            <img src="~/images/gall1.jpg" class="img-thumbnail galaryItem" alt="gall" />
        </div>
        <div class="col d-flex justify-content-around scrollflow -pop -opacity">
            <img src="~/images/gall2.jpg" class="img-thumbnail galaryItem" alt="gall" />
        </div>
        <div class="col d-flex justify-content-around scrollflow -pop -opacity">
            <img src="~/images/gall3.jpg" class="img-thumbnail galaryItem" alt="gall" />
        </div>
    </div>

    <div class="row gallaryBlock ">
        <div class="col d-flex justify-content-around scrollflow -pop -opacity">
            <img src="~/images/gall1.jpg" class="img-thumbnail galaryItem" alt="gall" />
        </div>
        <div class="col d-flex justify-content-around scrollflow -pop -opacity">
            <img src="~/images/gall2.jpg" class="img-thumbnail galaryItem" alt="gall" />
        </div>
        <div class="col d-flex justify-content-around scrollflow -pop -opacity">
            <img src="~/images/gall3.jpg" class="img-thumbnail galaryItem" alt="gall" />
        </div>
    </div>

</div>

<div class="container-fluid testemonials text-secondary">
    <h4 class="text-primary d-flex justify-content-center">Lorem Sit</h4>
    <p class="d-flex justify-content-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis officia voluptas repellendus repudiandae error voluptas repellendus repudiandae error.</p>
    <div class=" d-flex justify-content-center"><img src="~/images/symbol.png" alt="symbol"></div>
    <div class="col-lg-8 offset-lg-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odio possimus ea architecto veritatis quibusdam assumenda Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odio possimus ea architecto veritatis quibusdam assumenda Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odio possimus ea architecto veritatis quibusdam assumenda Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

</div>



